.viewDetails {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  overflow-y: auto;
  margin: 2rem 0;
  width: 30%;
  border-radius: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 6px 6px 10px 7px rgba(234, 231, 228, 0.806);
}

.mainCnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  color: black;
  font-weight: 600;
  font-size: 2rem;
}

.imgCnt {
  margin-top: 1.5rem;
  width: 100%;
  overflow: hidden;
}

.img {
  width: 100%;
}

.datesAvailable {
    width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 1.4rem;
  align-items: center;
  text-align: left;
}

.dateLabel {
    font-size: 1.6rem;
    font-weight: 600;}

.date {
  font-weight: 300;
  margin-left: 1rem;
}

.desc {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 2px 2px rgba(234, 231, 228, 0.806);
  max-height: 10rem;
  overflow: scroll;
  text-align: left;
  color: black;
  padding: 0.5rem;
  font-size: 1rem;
  overflow: auto;
}

.amenityLabel {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1rem;
}

.amentites {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 2px 2px rgba(234, 231, 228, 0.806);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 450;
  flex-direction: column;
}

.amenityIcon {
    width: 1.5rem;
}

.amenity {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  text-align: left;
}

.amenityName {
  margin-left: 0.5rem;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  bottom: 0;
}

.homeBtn {
  width: 100%;
  margin: 0 0.5rem;
}

.btn {
  width: 100%;
}

@media (max-width: 1280px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .btnContainer {
    flex-direction: column;
  }

  .homeBtn {
    margin: 1rem 0 0;
  }
}
